* {
  margin: 0;
}

#container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "left main right"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto 50px;
}

.kotak {
  border: 1px solid black;
  text-align: center;
  align-content: center;
}

#nav {
  background-color: lightgoldenrodyellow;
}

#main {
  background-color: lightcyan;
}

#left {
  background-color: lightblue;
}
#right {
  background-color: lightgray;
}

#footer {
  background-color: lightgoldenrodyellow;
}

/* Tablet */
@media (max-width: 1024px) {
  #container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 2fr 1fr 50px;
    grid-template-areas:
      "nav nav "
      "main main "
      "left right"
      "footer footer";
  }
}

/* Phone */
@media (max-width: 480px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "left"
      "right"
      "footer";
  }
}
