* {
  margin: 0;
}

body {
  background-color: lightcoral;
}

/* Smartphone */
@media screen and (max-width: 478px) {
  body {
    background-color: lightgreen;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
}

/* Desktop */
@media screen and (min-width: 992px) {
  body {
    background-color: lightcyan;
  }
}
