* {
  margin: 0;
}

.box {
  width: 120px;
  height: 120px;
  background-color: crimson;
  border-radius: 5px;
  align-content: center;
  text-align: center;
}

#wrapper {
  display: flex;
  gap: 20px;
  width: auto;
}

#wrapper:hover > :not(:hover) {
  cursor: pointer;
  filter: blur(5px);
  opacity: 0.9;
}

.box:hover {
  cursor: pointer;
}
