.container {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 100px 100px 100px 200px;
  grid-template-rows: 20px 100px 50px;
  grid-template-areas:
    "box-1 box-2 box-3 box-4"
    "box-5 box-5 box-5 box-4"
    "box-6 box-6 box-7 box-4";
}
.box {
  border: 1px solid rgba(0, 0, 0, 0.466);
  border-radius: 5px;
}
